/**
 * INPUTS
 */

 // trump the damn thing
#Country {
 height: 40px !important;
 padding: 2px 22px .2em 12px !important;
 font-size:13px;
}

select.mktoField option {
  background: #666 !important;
  color: #fff !important;
}

select.mktoField {
  color: #fff !important;
}

// .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email], .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .mktoForm select, .mktoForm textarea.mktoField {
//   background: #666 !important;
// }


.form-connector__input-container,
.mktoFieldWrap {
    height: 50px;
    position: relative;

    &.height-auto {
        height: auto;
    }
}
.form-connector__input-container__label,
.mktoLabel {
	  color: white !important;
    cursor: text;
    font-size: 13px;
    font-weight: 300 !important;
    line-height: 18px !important;
    left: 13px;
    // padding-left: 10px !important;
    padding-top: 0px !important;
    position: absolute;
    top: 25%;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    width: auto !important;

    &.on{
      color: red;
    }
    &.on,
    &.shown {
    	font-size:10px;
    	top: 5px;
    }

}

.privacy-policy {
    color: #fff !important;
    padding-left: 30px !important;
    font-size: 14px;
    margin-top: -7px !important;

    @media screen and (max-width: 480px) {
        padding-left: 0px !important;
        padding-right: 30px !important;
    }
}

.form-connector__input-container__label__span,
.mktoAsterix {
    color: red !important;
    float: none;
}

.form-connector__input-text, .form-connector__select, .form-connector__textearea, .mktoField {
    border: 0px !important;
    color: white !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -moz-box-shadow: inset 0 5px 44px -24px rgba(0,0,0,0.58) !important;
    -webkit-box-shadow: inset 0 5px 44px -24px rgba(0,0,0,0.58) !important;
    box-shadow: inset 0 5px 44px -24px rgba(0,0,0,0.58) !important;
    background-color: rgba(255,255,255,0.6) !important;
    margin: 2px 6px 16px 0 !important;
    padding-left: 13px !important;
    padding-top: 18px !important;
    width: 100% !important;
}

input.typeahead {
  color: #333 !important;
}

/**
 * BUTTONS
 */
.mktoButtonRow {
    float:right;
    margin-top:75px !important;
}

.btn {
    background: rgba(0, 0, 0, 0.1) !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #fff !important;
    display: inline-block;
    padding: 6px !important;
    width: 250px !important;
    border-radius: 4px !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) inset !important;
    text-shadow: initial !important;
    border: 0px !important;
}
.icon-checkmark {
    width: 50px;
    height: 53px;
    &:before {
        background-image: $checkmark;
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: 7px center;
        content: " ";
        z-index: 10;
        display: block;
        width: 50px;
        height: 100%;
    }
}
.icon-restart {
    width: 50px;
    height: 53px;
    &:before {
        background-image: $restart;
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: 7px center;
        content: " ";
        z-index: 10;
        display: block;
        width: 50px;
        height: 100%;
    }
}
.btn:hover{color:#fff}
.btn:hover div>span:first-child{background-color:#03429e}
.btn:hover div>span:last-child{background-color:#075899}
.btn div{display:block;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;border-radius:6px;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex}
.btn div>span{display:block;float:left;margin:0;padding:8px 12px;-moz-transition:background-color 250ms ease-in-out;-webkit-transition:background-color 250ms ease-in-out;transition:background-color 250ms ease-in-out}
.btn div>span:first-child {
    background:#044cb7;
    border-right:1px solid rgba(0,0,0,0.15);
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    font-size:22px;
    padding: 14px 9px 9px 9px;
}
.btn div>span:last-child{background:#0866b1;border-left:1px solid rgba(255,255,255,0.15);border-top-left-radius:0;border-bottom-left-radius:0;border-top-right-radius:4px;border-bottom-right-radius:4px;padding:8px 12px;text-align:left;width:100%;max-width: 188px;}
.btn div>span:last-child span{background-color:transparent;border:0;float:none;font-size:18px;line-height:20px;padding:0}
.btn div>span:last-child span span {
    background-color:transparent;
    border:0;
    display:block;
    font-size:12px;
    font-weight: 400;
    line-height:16px;
    padding:0
}

/**
 * MKTO SPECIFIC
 */

.mktoGutter,
.mktoOffset {
    display: none;
}

.mktoForm,
.mktoFieldWrap,
.mktoFieldDescriptor {
    width: 100% !important;
}

.mktoFormRow {
    clear: none !important;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
    @media only screen and (min-width: 1176px) {
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 50%;
    }
    .mktoRadioList > label {
      position:relative;
      top:60px;
      @media screen and (min-width: 1176px) {
        top:50px;
      }
      @media screen and (max-width: 414px) {
        padding:10px;
      }
    }

    &.width-full {
        width: 100% !important;
    }

    &:nth-child(even) {
        @media screen and (min-width: 1176px) {
            padding-right: 10px !important;
        }
    }

    &:nth-child(12) {
        width:100%;
        @media screen and (min-width: 1176px) {
          .mktoLabel {
            top: 3%;
          }
        }
        @media screen and (max-width: 414px) {
          .mktoLabel {
            top: -14px;
          }
        }
    }
}




#otherForm, #ssform {

  position: relative;

  form.disable label, form.disable select, form.disable textarea, form.disable .mktoField {
    color: darken(#777, 30%) !important;
  }

  .mktoField {

  }


}



/**
 * Thank you DIV
 */

#thankyouNowDiv {
    height: 20vw;
    min-height: 100px;
    max-height: 300px;

    center {
        position: relative;
        top: calc(50% - 40px);
    }
}


