@import "product-selector";
@import "form-slate";
@import "top-slate";

@mixin logo {
	&__logo {
		&-container {
			font-style: italic;
			font-weight: 700;
			position: relative;
		}

		&-pall {
			display: inline-block;
			height: 80px;
			position: relative;
			width: 105px;

			&:before {
				background: $pall-logo no-repeat;
				background-position: center;
				background-size: contain;
				content: "";
				height: 100%;
				position: absolute;
				width: 100%;
			}
		}

		&-red {
			display: inline-block;
			height: 80px;
			position: relative;
			width: calc(100% - 110px);

			&:before {
				background: $red-logo no-repeat;
				background-position: top;
				background-size: contain;
				content: "";
				height: 130px;
			    left: 10px;
				max-width: 390px;
				position: absolute;
				top: 17px;
				width: 100%;
			}
		}
	}
}

.red1000 {
	@include logo;
	@include top-slate;
	@include form-slate;
	@include product-selector;
}