@mixin product-selector {
    &__product {
        background-color: #eeeeee;
        color: #888888;
        display: inline-block;
        height: 90px;
        line-height: 90px;
        margin: 1px;
        min-width: 90px;
        position: relative;
        -moz-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
        text-align: center;
        width: 19.2%;
        z-index: 1;

        &.active {
            background-color: $red1000-red;
            -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
            color: $red1000-white;
            z-index: 200;
        }
        
        &-container {
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            list-style: none;
            padding-bottom: 20px;
        }

        @media screen and (max-width: 1304px) {
            width: 24%;
        }

        @media screen and (max-width: 991px) {
            width: 19.5%;
        }

        @media screen and (max-width: 568px) {
            width: 24.5%;
        }

        @media screen and (max-width: 462px) {
            width: 32.4%;
        }
    }
}