@import "variables";

@mixin top-slate {
	&__top-slate {
		color: $red1000-white;
		position: relative;

		&-header,
		&-description {
			padding: 0px 0px 0px 120px;

			@media screen and (max-width: 991px) {
				padding: 0px 120px 0px 120px;
			}

			@media screen and (max-width: 600px) {
				padding: 0px 20px;
			}
		}

		&-header {
			font-size: 22px;
			font-weight: 500;
			margin-top: 20px;
		}

		&-description {
			margin-bottom: 20px;
		}

		&-image {
			background: $products no-repeat;
			background-position: right 30px bottom 0px;
			height: 100%;
			min-height: 200px;
			position: absolute;
			right: 30px;
			width: 100%;

			@media screen and (max-width: 991px) {
				position: relative;
			}

			@media screen and (max-width: 600px) {
				background-size: contain;
			}

			@media screen and (max-width: 400px) {
				background-position: bottom;
			    right: 0px;
			}
		}
	}
}