$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "variables";
@import "form";
@import "header";

/**
 * Header Comments generated via http://patorjk.com/software/taag/#p=display&f=Big
 *
 * @version v0.0.1
 * @author  dave_nichols@europe.pall.com
 * @author  christian_micklisch@pall.com
 */

.footer {
  color: $red1000-white;
  height: 100px;
  padding-top: 20px;
  position: relative;
  background: transparent;
}

.clear {
  clear: both;
}

html {
    overflow-x: hidden;
    min-height: 100%;
}

body {
  background: $background no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background-color: #B90F11;

   a {
     color: #FFF; 
   }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
    width: 90%;
  }
}

/**
  _______ ____  _____        _____ _            _______ ______
 |__   __/ __ \|  __ \      / ____| |        /\|__   __|  ____|
    | | | |  | | |__) |____| (___ | |       /  \  | |  | |__
    | | | |  | |  ___/______\___ \| |      / /\ \ | |  |  __|
    | | | |__| | |          ____) | |____ / ____ \| |  | |____
    |_|  \____/|_|         |_____/|______/_/    \_\_|  |______|

 */

.red1000__top-slate {
  display: block;
  height: auto;
}

.red1000__logo-1000 {
    bottom: 0px;
  font-size: 36px;
    left: 252px;
    position: absolute;
}

.red1000__advantage-container {
    display: block;
    height: auto;
    position: relative;
}

.red1000__advantage {
  float: left;
  width: calc(100% - 51px);
}

.red1000__advantage-bullet {
    float: left;
    height: 50px;
    padding-top: 15px;
    position: relative;
    width: 50px;
}

.red1000__advantage-bullet::after {
  background-color: #555;
  border-radius: 50%;
  content: "";
  height: 34px;
  position: absolute;
  width: 34px;
}

.red1000__replacement-image {
  background-image: url("/images/red1000-products.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  content: "";
  height: 235px;
}

@media (max-width: 991px) {
  .red1000__replacement-header {
    line-height: 30px;
  }
}


/**
           _____  _____   ______          __
     /\   |  __ \|  __ \ / __ \ \        / /
    /  \  | |__) | |__) | |  | \ \  /\  / /
   / /\ \ |  _  /|  _  /| |  | |\ \/  \/ /
  / ____ \| | \ \| | \ \| |__| | \  /\  /
 /_/    \_\_|  \_\_|  \_\\____/   \/  \/

 */
.red1000__arrow {
  background-image: $arrow-down;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: calc(-100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.red1000__arrow-space {
  margin-left: auto;
  margin-top: 8vw;
}

/* Auto Complete */

ul.ui-autocomplete.ui-menu a{
    color:#fff;
    font-size: 10px;
}

ul.ui-autocomplete {
    color:#fff;
    font-size: 10px;
}

.ui-autocomplete {
    cursor:pointer;
    height:180px;
    overflow-y:scroll;
}

#option2 {
  color: black;
}


.red1000__purchase {
  display:none;
  background-color: $color-highlight;
  color: white;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;


    .icon-cart {
      float: left;
      background: $icon-cart no-repeat;
      width: 50px;
      height: 50px;
      display: inline-block;
    }

    .btn {
      width: auto !important;
      color: #FFF !important;
      margin-top: 6px;
    }

    .btn--small {
      padding: 3px !important;
    }

    .btn--small span:last-child {
      width: auto !important;
    }

    .promo-code {
      color: #333;
      font-weight: 700;
      clear: both;
      width:100%;
      text-align:center;
      margin-top: 10px;

      big {
        color: white;
      }

    }


}
